* {
    box-sizing: border-box;
}
body {
    background-color:#EEE;
    display:flex;
    margin:0;
    min-height:100vh;
}
.models {
    display:none;
}

header {
    position: fixed;
    left:0;
    top:0;
    right:0;
    height:60px;
    background-color:#399ade;
    display:none;
    justify-content: flex-end;
    align-items: center;
}
.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: #a9dcff;
    padding: 5px 20px;
    border-radius: 5px;
}
.menu-openner span {
    margin-right:10px;
}
.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}

aside {
    background-color:#9ccbe6;
    width:0vw;
    transition:all ease .2s;
    overflow-x:hidden;
}
aside.show {
    width:30vw;
}
.cart--area {
    padding:20px;
}
main {
    flex:1;
    padding:20px;
}
.pizza-area {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.pizza-item {
    text-align: center;
    max-width:250px;
    margin:0 auto 50px auto;
}
.pizza-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
}
.pizza-item--img {
    width:200px;
    height:200px;
    background-color:#EEE;
    border-radius:100px;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.2);
}
.pizza-item--img img {
    width:100%;
    height:auto;
}
.pizza-item--add {
    width:50px;
    height:50px;
    border-radius:25px;
    background-color:#388bc5;
    cursor:pointer;
    margin-top:-25px;
    transition:all ease .2s;
}
.pizza-item a:hover .pizza-item--add {
    background-color:#244c88;
}
.pizza-item--price,
.pizza-item--name {
    margin-top:5px;
}
.pizza-item--desc {
    margin-top:10px;
}

.pizzaWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}
.pizzaWindowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}
.pizzaBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.pizzaBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}
.pizzaBig img {
    height:400px;
    width:auto;
}
.pizzaInfo {
    flex:1;
    padding-bottom:50px;
}
.pizzaInfo h1 {
    margin-top:50px;
}
.pizzaInfo .pizzaInfo--desc {
    margin-top:10px;

}
.pizzaInfo--sector {
    margin-top:30px;
    margin-bottom:10px;
}
.pizzaInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}
.pizzaInfo--size {
    padding:10px 15px;
    background-color:#EEE;
}
.pizzaInfo--size:hover {
    background-color:#CCC;
    cursor:pointer;
}
.pizzaInfo--size.selected {
    background-color:#399ade;
}
.pizzaInfo--price {
    display:flex;
    align-items:center;
}
.pizzaInfo--actualPrice {
    margin-right:30px;
}
.pizzaInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.pizzaInfo--qtarea button {
    border:0;
    background-color:transparent;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
}
.pizzaInfo--qt {
    padding: 0px 5px;
}
.pizzaInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}
.pizzaInfo--addButton:hover {
    background-color:#32a345;
}
.pizzaInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
}
.pizzaInfo--cancelMobileButton {
    display:none;
    height:40px;
    margin-bottom:30px;
}
.cart {
    margin-bottom:20px;
}
.cart--item {
    display:flex;
    align-items:center;
    margin:10px 0;
}
.cart--item img {
    width:40px;
    height:40px;
    margin-right:20px;
}
.cart--item-nome {
    flex:1;
}
.cart--item--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.cart--item--qtarea button {
    border:0;
    background-color:transparent;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
}
.cart--item--qt {
    padding: 0px 5px;
}
.cart--totalitem {
    padding:15px 0;
    border-top:1px solid #79b9dd;
    display:flex;
    justify-content: space-between;
}
.cart--finalizar {
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    cursor:pointer;
    margin-top:20px;
    border:2px solid #63f77c;
    transition: all ease .2s;
}
.cart--finalizar:hover {
    background-color:#35af4a;
}

