body {
    font-family:'Lato',Helvetica,Arial;
    font-size:15px;
}
aside, 
h1,
.pizza-item,
.pizzaInfo,
.pizzaInfo .pizzaInfo--desc {
    font-family:'Hepta Slab', Helvetica, Arial;
}

.pizza-item a {
    text-decoration: none;
}
.pizza-item--add {
    line-height:50px;
    text-align:center;
    color:#FFF;
    font-size:22px;
}
.pizza-item--price {
    font-size:15px;
    color:#333;
}
.pizza-item--name {
    font-size:20px;
    font-weight: bold;
    color:#000;
}
.pizza-item--desc {
    font-size:13px;
    color:#555;
}
.pizzaInfo .pizzaInfo--desc {
    font-size:15px;
    color:#999;
}
.pizzaInfo--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
}
.pizzaInfo--size {
    color:#000;
    font-size:13px;
    font-weight: bold;
}
.pizzaInfo--size.selected, 
.pizzaInfo--addButton {
    color:#FFF;
}
.pizzaInfo--size.selected span {
    color:#D6D6D6;
}
.pizzaInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}
.pizzaInfo--actualPrice {
    font-size:28px;
}
.pizzaInfo--qtarea button {
    font-size:17px;
    color:#333;
}
.pizzaInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color:#000;
}
.pizzaInfo--cancelMobileButton {
    text-align:center;
    line-height: 40px;
}
.cart--item--qtarea button {
    font-size:17px;
    color:#333;
}
.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    color:#000;
}
.cart--totalitem {
    color:#315970;
    font-size:15px;
}
.cart--totalitem span:first-child {
    font-weight: bold;
}
.cart--totalitem.big {
    font-size:20px;
    color:#000;
    font-weight: bold;
}
.cart--finalizar {
    color:#FFF;
    text-align:center;
}